.homeText {
    text-align: center;
    background-color: rgb(223, 238, 218);
    margin: 0 5%;
    padding: 5px;
}

@media only screen and (min-width: 400px) {
    .homeText {
      font-size: 1.2em;
    }
}

@media only screen and (min-width: 600px) {
    .homeText {
      font-size: 1.5em;
    }
}

@media only screen and (min-width: 900px) {
    .homeText {
      font-size: 2em;
    }
}