h1 {
  text-align: center;
  background-color: rgb(24, 134, 45);
  color: whitesmoke;
  margin: 5%;
  padding: 5px 0;
  border-radius: 5px;
}

.mainTitle {
  font-size: 2.4em;
} 

h2 {
  text-align: center;
  background-color: rgb(174, 217, 167);
  margin: 5%;
  padding: 5px 0;
  border-radius: 5px;
}

.headerText {
  text-align: center;
  background-color: rgb(223, 238, 218);
  margin: 0 5%;
  padding: 2px;
}

headerNav {
  background-color: rgb(109, 185, 102);
}

@media screen and (min-width: 400px) {
  .headerText, button, .homeText {
    font-size: 1.2em;
  }
}
